name: Update Contributors

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  contributors:
    uses: CodingWithCalvin/.github/.github/workflows/contributors.yml@main
    secrets: inherit
