name: Publish to VS Marketplace

on:
  workflow_dispatch:

permissions:
  contents: write
  actions: read

jobs:
  publish:
    permissions:
      contents: write
      actions: read
    uses: CodingWithCalvin/.github/.github/workflows/vsix-publish.yml@main
    with:
      extension-name: VsixManifestDesigner
      display-name: 'VSIX Manifest Designer'
      marketplace-id: CodingWithCalvin.VS-VsixManifestDesigner
      description: 'Visual Studio extension providing a visual designer for VSIX manifest files'
      hashtags: ''
    secrets: inherit
