name: Publish to VS Marketplace

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: read

env:
  INFO_FILE: CodingWithCalvin.VsixManifestDesigner.info
  VSIX_FILE: CodingWithCalvin.VsixManifestDesigner.vsix

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 1. Download artifact
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: build.yml
          workflow_conclusion: success

      - name: 2. Publish to Marketplace
        uses: CodingWithCalvin/GHA-VSMarketplacePublisher@v1
        with:
          marketplace-pat: ${{ secrets.VS_PAT }}
          publish-manifest-path: ./resources/extension.manifest.json
          vsix-path: ./artifact/${{ env.VSIX_FILE }}
